<footer>
  <div id="firstDiv">
    <p>Copyright &#169; Art and History Museum Events by Meghana</p>
  </div>
  <div id="fourthDiv">
    <a href="/contact">
    <img class="social" src="/assets/images/twitter.jpg" alt="twitterlogo">
    <img class="social" src="/assets/images/insta.jpg" alt="instalogo">
    <img class="social" src="/assets/images/fb.jpg" alt="fblogo">
    </a>
  </div>
</footer>
