<header id = "header1">
    <a href="/index"><img src="/assets/images/AH.jpg" alt="logo"></a>

    <h1> Art and History Museum Events </h1>

    <div class="usernavigation">
      <ul>
        <li>
          <a class="navtextdecoration" href="/newConnection">Start a New Event</a>
        </li>
        <li>
          <a class="navtextdecoration" href="/login">Login</a>
        </li>
        <li>
          <a class="navtextdecoration" href="/signup">Signup</a>
        </li>
      </ul>
    </div>
</header>
