<nav>
			<div class ="generalnavigation">
				<a class="navtextdecoration" href="/index">Home</a>
        <a class="navtextdecoration" href="/connections">Events</a>
				<a class="navtextdecoration" href ="/about"> About</a>
				<a class="navtextdecoration" href ="/contact"> Contact us</a>

			</div>
		</nav>
